/* Selects all elements on the page */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Sets font styles for the entire page */
  body {
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
  }
  
  li{
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 10px;
    list-style: none;
  } 
  /* Sets styles for headings */
  /* h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
  } */
/*   
  h1 {
    font-size: 36px;
  } */
  
  h2 {
    font-size: 14px;

  }
  p{
    margin-left: 50px;
    
  }
  
  h3 {
    background-color: bisque;
    margin-bottom: 10px;
  }
  
  /* Sets styles for links */
  a {
    color: black;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  /* Sets styles for buttons */
  /* button {
    background-color: blue;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
  } */
  
  /* button:hover {
    background-color: darkblue;
  } */
  
  /* Sets styles for images */
  /* img {
    max-width: 100%;
    height: auto;
  } */
  
  /* Sets styles for form elements */
  /* input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
  }
   */
  /* Sets styles for containers */
  /* .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
   */