<!DOCTYPE html>

<head>
    <title>Try out</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&display=swap" rel="stylesheet">
</head>

<script>
    var scrummasters = [
    {% for item in scrummasters %}
      [{{ item[0] }}, '{{ item[1] }}', '{{ item[2] }}', '{{ item[3] }}', '{{ item[4] }}', {{ item[5] }}, '{{ item[6] }}', {{ item[7] }}, {{ item[8] }}],
    {% endfor %}
    ];
    var jaar;
    var filteredData = [];

    function onChangeProgressionBar(){
      var e = document.getElementById("progressiebar")
      jaar = e.value
      var temp = [...scrummasters]

      // gefilterde data op basis van je jaar
      filteredData = temp.filter(item => item[6].split('-')[0] == jaar)

      // aantal scrummasters voor dit jaar
      console.log(filteredData.length)
    }

    //tot hier bijles hulp



    /* When the user clicks on the button,
    toggle between hiding and showing the dropdown content */
    function myFunction() {
      document.getElementById("myDropdown").classList.toggle("show");
    }

    function filterFunction() {
      var input, filter, ul, li, a, i;
      input = document.getElementById("myInput");
      filter = input.value.toUpperCase();
      div = document.getElementById("myDropdown");
      a = div.getElementsByTagName("a");
      for (i = 0; i < a.length; i++) {
        txtValue = a[i].textContent || a[i].innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          a[i].style.display = "";
        } else {
          a[i].style.display = "none";
        }
      }
    }

</script>

<body class="bg-light">
  <!-- Start navbar -->

  <!-- 
  <div class="col-md-auto container-fluid">
    <ul class="nav flex-column nav-pills">
      <li><a href="/"><img src="/static/gemeenteamsterdam-removebg-preview.png" id="logo"></a></li>
      <li class="nav-item"><a href="/" class="nav-link active">Home</a></li>
      <li class="nav-item"><a href="/rollen" class="nav-link">Rollen</a></li>
      <li class="nav-item"><a href="/" class="nav-link">Track</a></li>
      <li class="nav-item"><a href="/" class="nav-link">Voorspellingen</a></li>
      <li class="nav-item">
        <form action="/import" method="post" enctype="multipart/form-data" class="px-3 d-inline">
          <input type="file" name="file" accept=".csv,.xml,.xlsx" id="file" style="display:none;" onchange="this.form.submit()">
          <label for="file" class="nav-link" style="cursor: pointer;">Import</label>
        </form>
      </li>
      <li class="nav-item dropdown" id="instellingen"><a href="/" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Instellingen</a>
        <div class="dropdown-menu dropdown-menu-right">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">something else </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Separated link</a>
        </div>
      </li>
      <li class="nav-item"><a href="/" class="nav-link">Profiel</a></li>
      <li class="nav-item" id="loguit"><a href="/" class="nav-link">Log uit</a></li>
    </ul>
  </div>
  -->
<!-- End navbar -->
  <!-- End navbar -->

  {% if data is defined %}
  <!-- Start javascript -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="../static/chart.js"></script>
    <!-- End javascript -->
  {%endif%}

  <div class="container">
      {# Header #}
      <nav class="navbar navbar-light">
          <ul class="container-fluid">
            <li><a href="/"><img src="/static/gemeenteamsterdam-removebg-preview.png" id="logo"></a></li>
            <li class="nav-item"><a href="/" class="nav-link active">Home</a></li>
            <li class="nav-item"><a href="/voorspellingen" class="nav-link">Voorspellingen</a></li>
          </ul>
      </nav>

    {# Begin body home pagina #}
      <div class="mb-4 mt-4">
          <div class="container mx-0 px-0 row gap-5">
            <div class="p-4 col shadow" id="team">
              <p class="fs-2 mb-1">Projecten</p>
              <p class="fs-6 fst-italic">Het aantal opdrachten, nu en in de toekomst</p>
              <canvas id="projectChart" width="500px"></canvas>
            </div>

            <div class="col shadow" id="chart">
              <div class="p-4 ">
                <p class="fs-2 mb-1">Huidige Bezetting APP</p>
                <p class="fs-6 fst-italic">De huidige bezetting van de rollen binnen APP, in %</p>
                <canvas id="bezettingChart" width="500px" height="300"></canvas>
              </div>
            </div>
          </div>
        </div>

        <!-- diya -->

        <!-- medewerkers diagram -->
        <div class="card shadow mb-4">
          <div class="card-header mx-0 py-3" id="medewerkers">
              <h6 class="m-0 font-weight-bold text-primary">Medewerkers</h6>
          </div>

      <!-- select button -->
      <div class="w-100 d-flex justify-content-start">
          <div class="container-fluid d-flex justify-content-start w-25">
            <select class="form-select mt-3" id="progressiebar"
                  onchange=onChangeProgressionBar()
            >
                <option value="2020">2020</option>
                <option value="2021">2021</option>
                <option value="2022">2022</option>
                <option value="2023">2023</option>
                <option value="2024">2024</option>
                <option value="2025">2025</option>
                <option value="2026">2026</option>
                <option value="2027">2027</option>
            </select>
        </div>
      </div>

      <!-- einde dropdown -->

      <!-- begin progressiebar -->
          <div id="scrummasters-data" style="display: none;">
            {{ scrummasters }}
          </div>
          <div class="card-body">
              {% if scrummasters_2024 is defined %}
              <h4 class="small font-weight-bold">Scrummaster<span
                      class="float-right"> {{scrummasters_2024}} </span></h4>
              <div class="progress mb-4">
                  <div class="progress-bar bg-danger" role="progressbar" style="width:{{ 100 * scrummasters_2024 / 35 }}%"
                      aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">{{100 * scrummasters_2024 // 35 }} %</div> <p class="nogtegaan"> 2 </p>      
              </div>
              {%endif%}

              {% if agilecoaches_2024 is defined %}
              <h4 class="small font-weight-bold"> Agile Coach <span
                      class="float-right"></span> {{agilecoaches_2024}} </h4>
              <div class="progress mb-4">
                  <div class="progress-bar bg-warning" role="progressbar" style="width:{{ 100 * agilecoaches_2024 / 5 }}%"
                      aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">{{100 * agilecoaches_2024 // 5 }} %</div>
              </div>
              {%endif%}

              {% if productowners_2024 is defined %}
              <h4 class="small font-weight-bold">Product Owners<span
                      class="float-right"></span> {{productowners_2024}}</h4>
              <div class="progress mb-4">
                  <div class="progress-bar" role="progressbar" style="width:{{ 100 * productowners_2024 / 10 }}%"
                      aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">{{100 * productowners_2024 // 10 }} %</div><p class="nogtegaan"> 1 </p>
              </div>
              {%endif%}

              {% if RTE_2024 is defined %}
              <h4 class="small font-weight-bold"> RTE<span
                      class="float-right"></span> {{ RTE_2024}}</h4>
              <div class="progress mb-4">
                  <div class="progress-bar bg-info" role="progressbar" style="width:{{ 100 * RTE_2024 / 4 }}%"
                      aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">{{100 * RTE_2024 // 4 }} %</div><p class="nogtegaan"> 2 </p>
              </div>
              {%endif%}

              {% if ATE_2024 is defined %}
              <h4 class="small font-weight-bold"> ATE<span
                      class="float-right"></span> {{ATE_2024}}</h4>
              <div class="progress mb-4">
                  <div class="progress-bar bg-info" role="progressbar" style="width:{{ 100 * ATE_2024 / 7 }}%"
                      aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">{{100 * ATE_2024 // 7 }} %</div><p class="nogtegaan"> 2 </p>
              </div>
              {%endif%}

              {% if projectmanager_2024 is defined %}
              <h4 class="small font-weight-bold"> Project Managers <span
                      class="float-right"></span> {{projectmanager_2024}}</h4>
              <div class="progress mb-4">
                  <div class="progress-bar bg-info" role="progressbar" style="width:{{ 100 * projectmanager_2024 / 110 }}%"
                      aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">{{100 * projectmanager_2024 // 110 }} %</div><p class="nogtegaan"> 37 </p>
              </div>
              {%endif%}

              {% if PMO_2024 is defined %}
              <h4 class="small font-weight-bold"> PMO's<span
                      class="float-right"></span> {{PMO_2024}}</h4>
              <div class="progress mb-4">
                  <div class="progress-bar bg-info" role="progressbar" style="width:{{ 100 * PMO_2024 / 11 }}%"
                      aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">{{100 * PMO_2024 // 11 }} %</div>
              </div>
              {%endif%}

              {% if PGM_2024 is defined %}
              <h4 class="small font-weight-bold"> PGM's<span
                      class="float-right"></span> {{PGM_2024}}</h4>
              <div class="progress mb-4">
                  <div class="progress-bar bg-info" role="progressbar" style="width:{{ 100 * PGM_2024 / 12 }}%"
                      aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">{{100 * PGM_2024 // 12 }} %</div><p class="nogtegaan"> 7 </p>
              </div>
              {%endif%}
            </div>
        </div>


        <!-- diya -->


        {# einde body home pagina #}

        <div class="border border-bottom-0 border-2 rounded-top bg-white">
          <div class="d-flex justify-content-between p-3">
              <div class="fs-6 fst-bold">
                  Dashboard
              </div>
              <div class="fs-6">
                  About
              </div>
          </div>
        </div>
        <!-- vanaf hier is gewoon bullshit -->
    </div>
    <script>

      const chart1 = document.getElementById('projectChart').getContext('2d');
      var chart = new Chart(document.getElementById('projectChart'), {
        type: 'line',
        data: {
          labels: ['2020', '2021', '2022', '2023', '2024', '2025', '2026', '2027'],
          datasets: [{
            label: 'Projecten',
            data: [3, 17, 101, 115, 135, 156, 176, 197, ],
            borderColor: '#009DEC',
            backgroundColor: '#009DEC',
            fill: false
          }]
        },
          options: {
            scales: {
              y: {
                beginAtZero: true
              }
            },
            responsive: false,
        }
      });
      const chart2 = document.getElementById('bezettingChart').getContext('2d');
      var chartV2 = new Chart(chart2, {
          type: 'pie',
          data: {
              labels: ['Scrummaster', 'Agile coach', 'Ambitie coach', 'PJ manager', 'PO', 'RTE'],
              datasets: [{
                  label: '# of Employees',
                  data: [{{data.scrummasters}}, {{data.AC}}, {{data.AM}}, {{data.PJ}}, {{data.PO}}, {{data.RTE}}],
                  backgroundColor: [
                      '#A00078',
                      '#E50082',
                      '#00A03C',
                      '#BED200',
                      '#FFE600',
                      '#FF9100',
                  ],
                  borderColor: [
                      '#A00078',
                      '#E50082',
                      '#00A03C',
                      '#BED200',
                      '#FFE600',
                      '#FF9100',
                  ],
                  borderWidth: 1
              }]
          },
          options: {
            responsive: false,
        }
        
      });
      </script>
</body>
</html>