<!DOCTYPE html>

<head>
    <title>Try out</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='userliststyle.css') }}">
</head>

<body>

    <div class="menu">
        <ul>
          <li><a href="/">
            <img src="/static/gemeenteamsterdam.png" width="150px" height="100px">
          </a></li>
        </ul>
      </div>

    <!-- <h1>Alle :
        {% for user in users %}
        <h2><a href='/user/{{user.id}}'>{{user}}</a></h2>
        {% endfor %}
    </h1> -->

    <h2>
        <h3>Totaal Aantal Rollen: {{user_count}}</h3>
        <p><a href='/acemployees'>Agile Coaches: {{data.AC}}</a></p>
        <p>Ambitie Coaches: {{data.AM}}</p>
        <p>ATE: {{ATE_count}}</p>
        <p>OKR: {{OKR_count}}</p>
        <p>PGM maneger : {{PGM_mgr_count}}</p>
        <p>PJ maneger: {{data.PJ}}</p>
        <p>PMO: {{PMO_count}}</p>
        <p>PO: {{data.PO}}</p>
        <p>RTE: {{data.RTE}}</p>
        <p>Scrummasters: {{data.scrummasters}}</p>
    </h2>

</body>

<!-- <!DOCTYPE html>

<head>
    <title>Try out</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='userliststyle.css') }}">

</head>

<body> -->
    <!-- <h1>Alle :
        {% for user in users %}
        <h2><a href='/user/{{user.id}}'>{{user}}</a></h2>
        {% endfor %}
    </h1> -->

    <!-- <h2>Totaal Aantal Rollen: {{user_count}}
        <p>Agile Coaches: {{AC_count}}</p>
        <p>Ambitie Coaches: {{AMcoach_count}}</p>
        <p>ATE: {{ATE_count}}</p>
        <p>OKR: {{OKR_count}}</p>
        <p>PGM maneger : {{PGM_mgr_count}}</p>
        <p>PJ maneger: {{PJ_mgr_count}}</p>
        <p>PMO: {{PMO_count}}</p>
        <p>PO: {{PO_count}}</p>
        <p>RTE: {{RTE_count}}</p>
        <p>Scrummasters: {{SCR_mstr_count}}</p>
    </h2>

</body>
</html> -->