<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title> Voorspellingen </title>
  <link rel="stylesheet" href="{{ url_for('static', filename='rol.css') }}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&display=swap" rel="stylesheet">
</head>

<body>

  <!-- Nav bar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/"><img src="/static/gemeenteamsterdam-removebg-preview.png" id="logo"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ms-auto">
        <a class="nav-item nav-link active" href="/voorspellingen">Voorspellingen</a>
        <a class="nav-item nav-link" href="/">Home</a>
      </div>
    </div>
  </nav>

  <!-- end navbar -->

  <!-- status -->
  {# <div class="container">
    <div class="row">
      <div id="status">
        <h1>Statussss </h1>
      </div>
    </div>

  </div> #}

  <!-- end status -->
  <div class="dropdown">
    <button style='margin-top:15px;' class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color:#00387A;">
      Algemeen
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">Agile Coach</a>
      <a class="dropdown-item" href="#">Scrummaster</a>
      <a class="dropdown-item" href="#">Project manager</a>
      <a class="dropdown-item" href="#">RTE</a>
      <a class="dropdown-item" href="#">Product Owner</a>
    </div>
  </div>

  <!-- begin body -->
{# begin content  #}
<div class="container">
 <div class="row">

  <div class="col card text-center" style="margin: 30px;">
   <h1 class="card-header">
    Medewerkers per rol
   </h1>
   <p id="caption">Aantal medewerkers per rol, Algemeen </p>
    <p class="col" id="staafdiagram">
        <canvas id="myChart5" style="max-height:300px;"></canvas>
      </p>
  </div>
  

<div class="col card text-center" style="margin: 30px;">
  <h1 class="card-header">
    Status
  </h1>
  <p id="caption">De huidige status van de medewerkers, Algemeen</p>
  <p class="card-body">
    <p class="col" id="chart" style="height: 400px;">
        <canvas id="myChart4" width="100px" style="max-height:300px;"></canvas>
        </p>
  </p>
</div>

<div class="row">
<h2>Het aantal benodigde extra mensen per rol</h2>
    <table class="table">
  <thead>
    <tr>
      <th scope="col">Rol</th>
      <th scope="col">2023</th>
      <th scope="col">2024</th>
      <th scope="col">2025</th>
      <th scope="col">2026</th>
      <th scope="col">2027</th>
    </tr>
  </thead>
  <tbody>
    <tr id="style2">
      <th scope="row" id="style3">Scrmstr</th>
      <td id="s2023"></td>
      <td id="s2024"></td>
      <td id="s2025"></td>
      <td id="s2026"></td>
      <td id="s2027"></td>
    </tr>
    <tr>
      <th scope="row" id="style3">AC</th>
      <td id="a2023"></td>
      <td id="a2024"></td>
      <td id="a2025"></td>
      <td id="a2026"></td>
      <td id="a2027"></td>
    </tr>
    <tr>
      <th scope="row" id="style3">PO</th>
      <td id="p2023"></td>
      <td id="p2024"></td>
      <td id="p2025"></td>
      <td id="p2026"></td>
      <td id="p2027"></td>
    </tr>
    <tr>
      <th scope="row" id="style3">RTE</th>
      <td id="r2023"></td>
      <td id="r2024"></td>
      <td id="r2025"></td>
      <td id="r2026"></td>
      <td id="r2027"></td>
    </tr>
    <tr>
      <th scope="row" id="style3">PJ MNGR</th>
      <td id="pj2023"></td>
      <td id="pj2024"></td>
      <td id="pj2025"></td>
      <td id="pj2026"></td>
      <td id="pj2027"></td>
    </tr>
    <tr id="style2">
      <th scope="row">Totaal</th>
      <td id="t2023"></td>
      <td id="t2024"></td>
      <td id="t2025"></td>
      <td id="t2026"></td>
      <td id="t2027"></td>
    </tr>
  </tbody>
</table>
  
  </div>
</div>

{# <p id="2027">10</p> #}
{# Einde content  #}

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="../static/chart.js"></script>
  <script src="../static/voorspellingen.js"></script>

 <script>
  var el = document.getElementById("2027");
  if(Number(el) < 0) {
    el.className += "red";
  }
  else {
    el.className += "green";
  }

  </script>

  <script>
  //formules scrummasters
  let s2023; s2023 = scrmmstr.scr2023 - {{data.scrummasters}}; document.getElementById("s2023").innerHTML = s2023;
  let s2024; s2024 = scrmmstr.scr2024 - {{data.scrummasters}}; document.getElementById("s2024").innerHTML = s2024;
  let s2025; s2025 = scrmmstr.scr2025 - {{data.scrummasters}}; document.getElementById("s2025").innerHTML = s2025;
  let s2026; s2026 = scrmmstr.scr2026 - {{data.scrummasters}}; document.getElementById("s2026").innerHTML = s2026;
  let s2027; s2027 = scrmmstr.scr2027 - {{data.scrummasters}}; document.getElementById("s2027").innerHTML = s2027;
  //formules ac
  let a2023; a2023 = ac.ac2023 - {{data.ac}}; document.getElementById("a2023").innerHTML = a2023;
  let a2024; a2024 = ac.ac2024 - {{data.ac}}; document.getElementById("a2024").innerHTML = a2024;
  let a2025; a2025 = ac.ac2025 - {{data.ac}}; document.getElementById("a2025").innerHTML = a2025;
  let a2026; a2026 = ac.ac2026 - {{data.ac}}; document.getElementById("a2026").innerHTML = a2026;
  let a2027; a2027 = ac.ac2027 - {{data.ac}}; document.getElementById("a2027").innerHTML = a2027;
  //formules po
  let p2023; p2023 = po.po2023 - {{data.po}}; document.getElementById("p2023").innerHTML = p2023;
  let p2024; p2024 = po.po2024 - {{data.po}}; document.getElementById("p2024").innerHTML = p2024;
  let p2025; p2025 = po.po2025 - {{data.po}}; document.getElementById("p2025").innerHTML = p2025;
  let p2026; p2026 = po.po2026 - {{data.po}}; document.getElementById("p2026").innerHTML = p2026;
  let p2027; p2027 = po.po2027 - {{data.po}}; document.getElementById("p2027").innerHTML = p2027;
  //formules rte
  let r2023; r2023 = rte.rte2023 - {{data.rte}}; document.getElementById("r2023").innerHTML = r2023;
  let r2024; r2024 = rte.rte2024 - {{data.rte}}; document.getElementById("r2024").innerHTML = r2024;
  let r2025; r2025 = rte.rte2025 - {{data.rte}}; document.getElementById("r2025").innerHTML = r2025;
  let r2026; r2026 = rte.rte2026 - {{data.rte}}; document.getElementById("r2026").innerHTML = r2026;
  let r2027; r2027 = rte.rte2027 - {{data.rte}}; document.getElementById("r2027").innerHTML = r2027;
  //formules pjmgr
  let pj2023; pj2023 = pjmgr.pjmgr2023 - {{data.pjmgr}}; document.getElementById("pj2023").innerHTML = pj2023;
  let pj2024; pj2024 = pjmgr.pjmgr2024 - {{data.pjmgr}}; document.getElementById("pj2024").innerHTML = pj2024;
  let pj2025; pj2025 = pjmgr.pjmgr2025 - {{data.pjmgr}}; document.getElementById("pj2025").innerHTML = pj2025;
  let pj2026; pj2026 = pjmgr.pjmgr2026 - {{data.pjmgr}}; document.getElementById("pj2026").innerHTML = pj2026;
  let pj2027; pj2027 = pjmgr.pjmgr2027 - {{data.pjmgr}}; document.getElementById("pj2027").innerHTML = pj2027;
  //formules totaal
  let t2023; t2023 = totaal.totaal2023 - {{data.totaal}}; document.getElementById("t2023").innerHTML = t2023;
  let t2024; t2024 = totaal.totaal2024 - {{data.totaal}}; document.getElementById("t2024").innerHTML = t2024;
  let t2025; t2025 = totaal.totaal2025 - {{data.totaal}}; document.getElementById("t2025").innerHTML = t2025;
  let t2026; t2026 = totaal.totaal2026 - {{data.totaal}}; document.getElementById("t2026").innerHTML = t2026;
  let t2027; t2027 = totaal.totaal2027 - {{data.totaal}}; document.getElementById("t2027").innerHTML = t2027;

  </script>

 

  <script>
  function color{
  if (z2027[0] >= 0) {
      $('#2027').css('color', 'red');
    };
  else {
  ($('#2027').css('color', 'green');)
  }
  }
  </script>
  <script>
    const ctx = document.getElementById('myChart4').getContext('2d');
    const myChart = new Chart(ctx, {
      type: 'pie',
      data: {
        labels: ['Beschikbaar', 'Niet-schikbaar', 'Non-actief'],
        datasets: [{
          label: 'Aantal medewerkers',
          data: [{{data.scrummasters }},{{ data.PJ }}, {{ data.AC }}],
    backgroundColor: [
      '#A00078',
      '#E50082',
      '#00A03C',
      '#BED200',
      '#FFE600',
      '#FF9100',
    ],
      borderColor: [
        '#A00078',
        '#E50082',
        '#00A03C',
        '#BED200',
        '#FFE600',
        '#FF9100',
      ],
        borderWidth: 1
            }]
        },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
    });


    const ctx4 = document.getElementById('myChart5').getContext('2d');

    new Chart(ctx4, {
      type: 'bar',
      data: {
        labels: ['2020', '2021', '2022', '2023', '2024'],
        datasets: [{
          label: 'Scrummasters',
          data: [3, 3, 11, 24, 10, 6],
          backgroundColor: [
            '#A00078',
            '#E50082',
            '#00A03C',
            '#BED200',
            '#FFE600',
            '#FF9100',
          ],
          borderWidth: 2,
          borderColor: 'grey',
        }, {
          label: 'AC',
          data: [{{ data.AC }}, 3, 11, 34, 15, 6],
        backgroundColor: 'rgb(0,0,255)',
        borderColor: 'rgb(0,0,225)',
        fill: false
      },{
      label: 'PO',
      data: [{{ data.PO }}, 3, 11, 44, 20, 6],
      backgroundColor: 'rgba(153, 102, 255)',
      borderColor: 'rgb(0,0,225)',
      fill: false
        }, {
        label: 'RTE',
        data: [{{ data.RTE }}],
      backgroundColor: 'rgba(56, 142, 60)',
      borderColor: 'rgb(0,0,225)',
      fill: false
        }, {
        label: 'Project manager',
        data: [{{ data.PJ }}, 3, 11, 74, 50, 6],
      backgroundColor: 'rgba(255, 159, 64)',
      borderColor: 'rgb(0,0,225)',
      fill: false
        }]
      },
      options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
    });
  </script>
  <!-- eind staafdiagram -->
</body>

</html>