<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title> Voorspellingen </title>
  <link rel="stylesheet" href="{{ url_for('static', filename='rol.css') }}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&display=swap" rel="stylesheet">
</head>

<body>

  <!-- Nav bar -->
  <div class="container">
    <nav class="navbar navbar-light">
      <ul class="container-fluid">
        <li><a href="/"><img class="ml-3" src="/static/gemeenteamsterdam-removebg-preview.png" id="logo"></a></li>
        <div class="d-flex  justify-content-end">
        <li class="nav-item"><a href="/handleiding" class="nav-link">Handleiding</a></li>
        <li class="nav-item"><a href="/voorspellingen" class="nav-link">Voorspellingen</a></li>
          <li class="nav-item"><a href="/" class="nav-link active">Home</a></li>
        </div>
      </ul>
    </nav>

{# begin content  #}
<div class="container">

<div class="row">
<h2>Het aantal benodigde extra mensen per rol</h2>
    <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Rol</th>
      <th scope="col">2023</th>
      <th scope="col">2024</th>
      <th scope="col">2025</th>
      <th scope="col">2026</th>
      <th scope="col">2027</th>
    </tr>
  </thead>
  <tbody>
    <tr id="style2">
      <th scope="row" id="style3">SM</th>
      <td id="s2023"></td>
      <td id="s2024"></td>
      <td id="s2025"></td>
      <td id="s2026"></td>
      <td id="s2027"></td>
    </tr>
    <tr>
      <th scope="row" id="style3">AC</th>
      <td id="a2023"></td>
      <td id="a2024"></td>
      <td id="a2025"></td>
      <td id="a2026"></td>
      <td id="a2027"></td>
    </tr>
    <tr>
      <th scope="row" id="style3">PO</th>
      <td id="p2023"></td>
      <td id="p2024"></td>
      <td id="p2025"></td>
      <td id="p2026"></td>
      <td id="p2027"></td>
    </tr>
    <tr>
      <th scope="row" id="style3">PGM</th>
      <td id="pm2023"></td>
      <td id="pm2024"></td>
      <td id="pm2025"></td>
      <td id="pm2026"></td>
      <td id="pm2027"></td>
    </tr>
    <tr>
      <th scope="row" id="style3">RTE</th>
      <td id="r2023"></td>
      <td id="r2024"></td>
      <td id="r2025"></td>
      <td id="r2026"></td>
      <td id="r2027"></td>
    </tr>
    <tr>
      <th scope="row" id="style3">ATE</th>
      <td id="at2023"></td>
      <td id="at2024"></td>
      <td id="at2025"></td>
      <td id="at2026"></td>
      <td id="at2027"></td>
    </tr>
    <tr>
      <th scope="row" id="style3">PJM</th>
      <td id="pj2023"></td>
      <td id="pj2024"></td>
      <td id="pj2025"></td>
      <td id="pj2026"></td>
      <td id="pj2027"></td>
    </tr>
    <tr>
      <th scope="row" id="style3">PMO</th>
      <td id="pom2023"></td>
      <td id="pom2024"></td>
      <td id="pom2025"></td>
      <td id="pom2026"></td>
      <td id="pom2027"></td>
    </tr>
    <tr id="style2">
      <th scope="row">Totaal</th>
      <td id="t2023"></td>
      <td id="t2024"></td>
      <td id="t2025"></td>
      <td id="t2026"></td>
      <td id="t2027"></td>
    </tr>
  </tbody>
</table>
  
  </div>
<br>
  <div class="row">
    <div class="col">
    <ul><h2>Hoe lees je deze tabel af</h2>
      <ol> 
        <li style="list-style-type: circle;">Het getal dat je ziet staan is het aantal rollen dat je nog nodig hebt</li>
        <li style="list-style-type: circle;">Wanneer je iemand aanneemt of omschoolt komt deze in de database te staan</li>
        <li style="list-style-type: circle;">Het aantal dat je dan nog nodig hebt zal dan 1 minder worden, aangezien je iemand hebt aangenomen</li>
        <li style="list-style-type: circle;"></li>
        <li style="list-style-type: circle;"></li>
        <li style="list-style-type: circle;"></li>
      </ol>
    </ul>
    </div>
    <div class="col">
      <ul><h2>Betekenis afkortingen rollen</h2>
      <ol> 
        <li style="list-style-type: circle;">SM = Scrum Master</li>
        <li style="list-style-type: circle;">AC = Agile Coach</li>
        <li style="list-style-type: circle;">PO = Product Owner</li>
        <li style="list-style-type: circle;">PGM = Programma Manager</li>
        <li style="list-style-type: circle;">RTE = Release Train Engineer</li>
        <li style="list-style-type: circle;">ATE = Agile Transformative Expert</li>
        <li style="list-style-type: circle;">PJM = Project Manager</li>
        <li style="list-style-type: circle;">PMO = Programma Management Ondersteuning</li>
      </ol>
    </ul> 
    </div>
    </div>

  </div>
  <br>
  <div class="row">
    <div class="col">
      <ul> <h2>Uitgangspunten voorspellingen</h2>
        <li>
          <ol>
            <li style="list-style-type: decimal;">Elk jaar starten 2 of 3 opgaven</li>
            <li style="list-style-type: decimal;">Een opgave blijft bestaan of wordt vervangen door een soortgelijke opgave</li>
            <li style="list-style-type: decimal;">Per opgave wordt bij de start uitgegaan van 1 RTE, 12 scrummasters, 5 Agile coaches</li>
            <li style="list-style-type: decimal;">Per opgave wordt na 1 jaar uitgegaan van 1 RTE, 8 scrummasters, 3 Agile Coaches</li>
            <li style="list-style-type: decimal;">Naarmate er meer opgaven starten, zullen aanvragen buiten de opgaven naar rato kleiner worden</li>
            <li style="list-style-type: decimal;">Benchmark voor aanvragen is 2021/2022</li>
            <li style="list-style-type: decimal;">Benchmark uitstroom/vervangingsaanvraag  is 2021/2022</li>
          </ol>
        </li>
      </ul>
      <br>
    </div>
    <div  class="col">
      <ul> <h2>Algemene regels</h2>
        <li>Hoe zorg je ervoor dat je genoeg mensen krijgt?
          <ol>
            <li style="list-style-type: decimal;">Begin minimaal 3 maanden van tevoren met sollicitaties</li>
            <li style="list-style-type: decimal;">Begin 1 jaar van tevoren met omscholen</li>
          </ol>
        </li>
      </ul>
    </div>
    <br>
  </div>

</div>

{# <p id="2027">10</p> #}
{# Einde content  #}

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="../static/chart.js"></script>
  <script src="../static/voorspellingen.js"></script>

 <script>
  var el = document.getElementById("2027");
  if(Number(el) < 0) {
    el.className += "red";
  }
  else {
    el.className += "green";
  }

  </script>

  <script>
  //formules scrummasters
  let s2023; s2023 = scrmmstr.scr2023 - {{data.sm}}; document.getElementById("s2023").innerHTML = s2023;
  let s2024; s2024 = scrmmstr.scr2024 - {{data.sm}}; document.getElementById("s2024").innerHTML = s2024;
  let s2025; s2025 = scrmmstr.scr2025 - {{data.sm}}; document.getElementById("s2025").innerHTML = s2025;
  let s2026; s2026 = scrmmstr.scr2026 - {{data.sm}}; document.getElementById("s2026").innerHTML = s2026;
  let s2027; s2027 = scrmmstr.scr2027 - {{data.sm}}; document.getElementById("s2027").innerHTML = s2027;
  //formules ac
  let a2023; a2023 = ac.ac2023 - {{data.ac}}; document.getElementById("a2023").innerHTML = a2023;
  let a2024; a2024 = ac.ac2024 - {{data.ac}}; document.getElementById("a2024").innerHTML = a2024;
  let a2025; a2025 = ac.ac2025 - {{data.ac}}; document.getElementById("a2025").innerHTML = a2025;
  let a2026; a2026 = ac.ac2026 - {{data.ac}}; document.getElementById("a2026").innerHTML = a2026;
  let a2027; a2027 = ac.ac2027 - {{data.ac}}; document.getElementById("a2027").innerHTML = a2027;
  //formules po
  let p2023; p2023 = po.po2023 - {{data.po}}; document.getElementById("p2023").innerHTML = p2023;
  let p2024; p2024 = po.po2024 - {{data.po}}; document.getElementById("p2024").innerHTML = p2024;
  let p2025; p2025 = po.po2025 - {{data.po}}; document.getElementById("p2025").innerHTML = p2025;
  let p2026; p2026 = po.po2026 - {{data.po}}; document.getElementById("p2026").innerHTML = p2026;
  let p2027; p2027 = po.po2027 - {{data.po}}; document.getElementById("p2027").innerHTML = p2027;
  //formules pgm
  let pm2023; pm2023 = pgm.pgm2023 - {{data.pgm}}; document.getElementById("pm2023").innerHTML = pm2023;
  let pm2024; pm2024 = pgm.pgm2024 - {{data.pgm}}; document.getElementById("pm2024").innerHTML = pm2024;
  let pm2025; pm2025 = pgm.pgm2025 - {{data.pgm}}; document.getElementById("pm2025").innerHTML = pm2025;
  let pm2026; pm2026 = pgm.pgm2026 - {{data.pgm}}; document.getElementById("pm2026").innerHTML = pm2026;
  let pm2027; pm2027 = pgm.pgm2027 - {{data.pgm}}; document.getElementById("pm2027").innerHTML = pm2027;
  //formules rte
  let r2023; r2023 = rte.rte2023 - {{data.rte}}; document.getElementById("r2023").innerHTML = r2023;
  let r2024; r2024 = rte.rte2024 - {{data.rte}}; document.getElementById("r2024").innerHTML = r2024;
  let r2025; r2025 = rte.rte2025 - {{data.rte}}; document.getElementById("r2025").innerHTML = r2025;
  let r2026; r2026 = rte.rte2026 - {{data.rte}}; document.getElementById("r2026").innerHTML = r2026;
  let r2027; r2027 = rte.rte2027 - {{data.rte}}; document.getElementById("r2027").innerHTML = r2027;
  //formules ate
  let at2023; at2023 = ate.ate2023 - {{data.ate}}; document.getElementById("at2023").innerHTML = at2023;
  let at2024; at2024 = ate.ate2024 - {{data.ate}}; document.getElementById("at2024").innerHTML = at2024;
  let at2025; at2025 = ate.ate2025 - {{data.ate}}; document.getElementById("at2025").innerHTML = at2025;
  let at2026; at2026 = ate.ate2026 - {{data.ate}}; document.getElementById("at2026").innerHTML = at2026;
  let at2027; at2027 = ate.ate2027 - {{data.ate}}; document.getElementById("at2027").innerHTML = at2027;
  //formules pjmgr
  let pj2023; pj2023 = pjmgr.pjmgr2023 - {{data.pjm}}; document.getElementById("pj2023").innerHTML = pj2023;
  let pj2024; pj2024 = pjmgr.pjmgr2024 - {{data.pjm}}; document.getElementById("pj2024").innerHTML = pj2024;
  let pj2025; pj2025 = pjmgr.pjmgr2025 - {{data.pjm}}; document.getElementById("pj2025").innerHTML = pj2025;
  let pj2026; pj2026 = pjmgr.pjmgr2026 - {{data.pjm}}; document.getElementById("pj2026").innerHTML = pj2026;
  let pj2027; pj2027 = pjmgr.pjmgr2027 - {{data.pjm}}; document.getElementById("pj2027").innerHTML = pj2027;
  //formules pmo
  let pom2023; pom2023 = pmo.pmo2023 - {{data.pmo}}; document.getElementById("pom2023").innerHTML = pom2023;
  let pom2024; pom2024 = pmo.pmo2024 - {{data.pmo}}; document.getElementById("pom2024").innerHTML = pom2024;
  let pom025; pom2025 = pmo.pmo2025 - {{data.pmo}}; document.getElementById("pom2025").innerHTML = pom2025;
  let pom026; pom2026 = pmo.pmo2026 - {{data.pmo}}; document.getElementById("pom2026").innerHTML = pom2026;
  let pom2027; pom2027 = pmo.pmo2027 - {{data.pmo}}; document.getElementById("pom2027").innerHTML = pom2027;
  //formules totaal
  let t2023; t2023 = totaal.totaal2023 - {{data.totaal}}; document.getElementById("t2023").innerHTML = t2023;
  let t2024; t2024 = totaal.totaal2024 - {{data.totaal}}; document.getElementById("t2024").innerHTML = t2024;
  let t2025; t2025 = totaal.totaal2025 - {{data.totaal}}; document.getElementById("t2025").innerHTML = t2025;
  let t2026; t2026 = totaal.totaal2026 - {{data.totaal}}; document.getElementById("t2026").innerHTML = t2026;
  let t2027; t2027 = totaal.totaal2027 - {{data.totaal}}; document.getElementById("t2027").innerHTML = t2027;

  </script>


</body>

</html>